/* 
    TABLE OF CONTENTS

  1. GENERAL STYLES
  2. HEADER
  2.1 Navigation
  2.2 Social networks icons
  3. MAIN
  4. SERVICES
  5. PORTFOLIO
  6. JOURNAL
  7. ABOUT
*/

/* 
          1. GENERAL STYLES
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@700&family=Roboto+Slab:wght@100&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f9f9f9;
}

P {
  line-height: 22px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #666;
}

.wrapper {
  width: 100%;
  max-width: 1170px;
  margin: auto;
}

.center {
  text-align: center;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 50px;
  color: #fff;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
  letter-spacing: 5px;
  color: #fff;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
}

h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  color: #444;
  text-align: center;
  margin: 60px 0 25px 0;
}

h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #444;
  text-align: center;
  margin: 80px 0 30px 0;
}
h4::before {
  margin-right: 15px;
  content: url('./images/title-lines.png');
}
h4::after {
  margin-left: 15px;
  content: url('./images/title-lines.png');
}

h5 {
  font-family: 'Roboto Slab', serif;
  font-size: 17px;
  color: #444;
  text-align: center;
  margin: 25px 0 15px 0;
}

h6 {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color: #444;
  text-align: center;
  margin: 25px 0 15px 0;
}

.date {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #999;
}
/* --- End of GENERAL STYLES --- */

/* 
          2. HEADER
*/
header {
  width: 100%;
  height: 90px;
  background: rgba(0, 0, 0, 0.44);
  position: fixed;
  top: 0;
  z-index: 99;
}

.header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 
          2.1 Navigation
*/
nav {
  display: flex;
  height: 30px;
}
.navigation {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  border-right: 1px solid #fff;
  height: 100%;
}

.navigation ul {
  display: flex;
  align-items: center;
  height: 100%;
}

.navigation li {
  list-style: none;
  display: inline-block;
}

.navigation a {
  text-decoration: none;
  color: #f5f5f5;
  padding: 7px 22px;
}

.navigation a:hover {
  color: #28b8d8;
  transition: 0.2s;
}

.navigation a.active {
  color: #28b8d8;
  transition: 0.5s;
}
/* --- End of Navigation --- */

/* 
          2.2 Social networks icons
*/
.social {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.social img {
  padding: 7px 10px;
}

#facebook:hover {
  content: url('./images/facebook_blue.png');
}

#twitter:hover {
  content: url('./images/twitter_blue.png');
}

#dribble:hover {
  content: url('./images/dribble_blue.png');
}

#pintrest:hover {
  content: url('./images/pintrest_blue.png');
}

/* --- Endo of Social networks icons --- */
/* --- End of HEADER --- */

/* 
          3. MAIN
*/
#home {
  width: 100%;
  height: 100vh;
  background: url('./images/main_image.jpg') no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home p {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  color: #fff;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75);
}
/* --- End of MAIN --- */

/* 
          4. SERVICES
*/

#services {
  width: 100%;
  padding-top: 50px;
}
.services p {
  text-align: center;
}

.service-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 70px;
}

.service-card {
  width: 360px;
  height: 355px;
  margin: 0 15px;
  padding: 15px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.09);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
/* --- End of Services --- */

/* 
          5. PORTFOLIO
*/
#portfolio {
  background: #2c2c2c;
  padding-top: 50px;
  text-align: center;
}

#portfolio h4 {
  color: #d5d5d5;
}
#portfolio h4::before {
  margin-right: 15px;
  content: url('./images/title-lines_dark.png');
}
#portfolio h4::after {
  margin-left: 15px;
  content: url('./images/title-lines_dark.png');
}

.slider {
  padding-top: 20px;
  display: flex;
  overflow: auto;
  margin-right: 15px;
}

.slider-item {
  min-width: 350px;
  height: 300px;
  margin-left: 15px;
  background: #fff;
}

a.instagram {
  display: inline-block;
  padding: 15px 20px;
  margin: 40px auto 80px auto;
  text-decoration: none;
  text-transform: uppercase;
  color: #a6a6a6;
  border: 1px solid #797979;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: center;
}
a.instagram img {
  margin: 0 5px -2px 0;
}
a.instagram:hover {
  background: #fff;
  transition: 0.2s;
}
/* --- End of Portfolio */
/* 
          6. JOURNAL
*/
#journal {
  padding-top: 50px;
}

.journal-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.journal-card {
  width: 360px;
  height: 480px;
  margin: 0 15px;
  padding: 15px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.09);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.journal-card img {
  width: 360px;
  margin: 25px 0;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #999999;
  margin-top: 25px;
}

.card-footer a {
  color: #999999;
  display: inline-block;
  padding: 5px 10px;
}

.card-footer a:hover {
  color: #fff;
  background: #28b8d8;
  transition: 0.2s;
}

.journal-card .likes img {
  width: 10px;
  margin: 0;
}
/* End of Journal */
/* 
          7. ABOUT
*/
#about {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.left-about {
  width: calc(50% - 15px);
}

.right-about {
  width: calc(50% - 15px);
}

#about h4 {
  text-align: left;
}
#about h4::before {
  content: none;
}
/* --- End of About --- */
